.box{
 position: absolute;
 width: 800px;
 height: 500px;
 border 3px solid black;
 left: 20px;
 top: 10px;
}

.name {
 position: absolute;
 height: 50px;
 width: 200px;
 border: 2px solid black;
 left: 30px;
 top: 40px;
 }

p{
 font-size: large;
 line-height: 15px;
 font-family: arial;
 left: 10px;
 position: absolute;
 }

.name-1{
 position: absolute;
 height: 50px;
 width: 500px;
 border: 2px solid black;
 right: 30px;
 top: 40px;
 }

.id-no{
 position: absolute;
 height: 50px;
 width: 200px;
 border:2px solid black;
 left: 30px;
 top: 150px;
 }

p2{
 font-size: large;
 line-height: 50px;
 font-family: arial;
 left: 10px;
 position: absolute;
 }

.id-no-1{
  position: absolute;
  height: 50px;
  width: 500px;
  border: 2px solid black;
  top: 150px;
  right: 30px;

}

.grade{
 position: absolute;
 height: 50px;
 width: 200px;
 border: 2px solid black;

 }

p3{
 font-size: large;
 line-height: 50px;
 font-family: arial;
 left: 10px;
 position: absolute;}

select{
 postion: absolute;
 right: 30px;
 height: 55px;
 width: 500px;
 border: 2px solid black;
 bottom: 175px;
 font-size: large;

 }

#save{
 position: absolute;
 height: 45px;
 width: 100px;
 border: 2px blue;
 bottom: 15px;
 left: 10px;
 border-radius: 10px;
 background-color: white;
 cursor: pointer;
}
 p4{
 font-size: large;
 line-height: 50px;
 font-family: arial;
 left: 10px;
}